.split-pane > .split-pane-divider {
    -fx-background-color: transparent;
}

#containerright {
    -fx-background-color: #c7c7c7;
}

#containerleft {
    -fx-background-color: #5f5f5f;
}

#GameScreen, #nextPane, #BignextPane {
    -fx-background-color: white;
}